.note-form{
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
        border: none;
        outline: none;
    }
    .desc{
        border: none;
        resize: none;
        // width: 60vw;
        // height: 60vh;
        overflow-y: inherit;
        &:focus,&:hover{
            border: none;
            outline:none;
        }
    }
}