<!-- <ul>
  <li *ngFor="let n of notodo | async">
    <p>{{n.title}}</p>
    <p>{{n.description}}</p>
  </li>
</ul> -->

<div class="note-list card-container">
  <div class="note-item card">
      <div class="note-add side">
        <div class="circle-add"><span class="circle-plus">+</span></div>    
      </div>
  </div>
  <div *ngFor="let note of notodo | async" class="note-item">
    <div appRandomcolor class="note-title side">
      <h2 class="note-title-text">{{note.title}}</h2>
    </div>
    <div class="note-desc side">
      <p>{{note.description}}</p>
    </div>
    <!-- <div class="side back">
        Jimmy Eat World
    </div> -->
    <div appRandomcolor class="note-title side back">
        <h2 class="note-title-text">{{note.title}}</h2>
      </div>
      <div class="note-desc side back ">
        <p>{{note.description}}</p>
      </div>
  </div>
</div>
<!-- <div class="note-form">
  <form>
    <div>
      <label for="title"></label>
      <input [formControl] = "title" name="title" type="text" class="title" placeholder="Title..." id="title" required>
    </div>
    <div>
      <label for="desc"></label>
      <textarea [formControl] = "description"s name="desc" class="desc" placeholder="Note it..." id="desc" cols="30" rows="10"></textarea>       -->
      <!-- <textarea [formControl] = "description" appNoteScroll (scrollPosition)="scrollHandler" name="desc" class="desc" placeholder="Note it..." id="desc" cols="30" rows="10"></textarea> -->
    <!-- </div> -->
    <!-- <div>
      <button type="submit" (click)="add()">Save</button>
      <button type="submit">Cancel</button>
    </div>   -->
  <!-- </form> -->
<!-- </div> -->
